src/xml/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="drill">
		<xs:sequence>
			<xs:element name="p" type="pointtype" />
			<xs:element name="z" type="ztype" />
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:complexType name="line">
		<xs:sequence>
			<xs:element name="p" type="pointtype" minOccurs="2" maxOccurs="2" />
			<xs:element name="z" type="ztype" />
		</xs:sequence>
	</xs:complexType>
		
	<xs:complexType name="circle">
		<xs:sequence>
			<xs:element name="p" type="pointtype" />
			<xs:element name="rad" type="radtype" />						
			<xs:element name="z" type="ztype" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="polyline">
		<xs:sequence>
			<xs:element name="p" type="pointtype" />
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:sequence>
					<xs:element name="bez" type="pointtype" minOccurs="1" maxOccurs="unbounded" /> 
					<xs:element name="p" type="pointtype" />
				</xs:sequence>
				<xs:sequence>
					<xs:element name="spl" type="pointtype" minOccurs="1" maxOccurs="unbounded" />
				</xs:sequence>
				<xs:element name="p" type="pointtype" />	
			</xs:choice>
			<xs:element name="z" type="ztype" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="program">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="drill" type="drill" />
				<xs:element name="line" type="line" />
				<xs:element name="polyline" type="polyline" />
				<xs:element name="circle" type="circle" />
				<xs:element name="translate">
					<xs:complexType>
						<xs:choice minOccurs="1" maxOccurs="unbounded">
							<xs:element name="drill" type="drill" />
							<xs:element name="line" type="line" />
							<xs:element name="polyline" type="polyline" />
							<xs:element name="circle" type="circle" />
						</xs:choice>
						<xs:attribute name="x" type="xs:decimal" />
						<xs:attribute name="y" type="xs:decimal" />
					</xs:complexType>
				</xs:element>
				<xs:element name="feedrate" type="xs:positiveInteger" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="pointtype">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="-?[0-9]+(\.[0-9]+)?,-?[0-9]+(\.[0-9]+)?"/>
	    </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ztype">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="-?[0-9]+(\.[0-9]+)?,-?[0-9]+(\.[0-9]+)?,[0-9]+(\.[0-9]+)?"/>
	    </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="radtype">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="[0-9]+(\.[0-9]+)?"/>
	    </xs:restriction>
	</xs:simpleType>
	 
</xs:schema>