src/xml/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="program" type="programRootType"/>
	
	<xs:complexType name="programRootType">
	    <xs:sequence>
	        <xs:element name="tool" type="tool"/>
	        <xs:group ref="programElements" minOccurs="1" maxOccurs="unbounded"/>
	    </xs:sequence>
	</xs:complexType>

	<xs:group name="programElements">
	    <xs:choice>
	        <xs:element name="drill" type="drill"/>
	        <xs:element name="line" type="line"/>
	        <xs:element name="polyline" type="polyline"/>
	        <xs:element name="circle" type="circle"/>
	        <xs:element name="rectangle" type="rectangle"/>
	        <xs:element name="text" type="text"/>
	        <xs:element name="feedrate" type="xs:positiveInteger"/>
	        <xs:element name="tool" type="tool"/>
	        <xs:element name="translate" type="translateType"/>
	    </xs:choice>
	</xs:group>

	<xs:complexType name="translateType">
	    <xs:complexContent>
	        <xs:extension base="programType">
	            <xs:attribute name="x" type="translationtype" use="required" />
	            <xs:attribute name="y" type="translationtype" use="required" />
	        </xs:extension>
	    </xs:complexContent>
	</xs:complexType>	
	
	<xs:complexType name="programType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="drill" type="drill" />
			<xs:element name="line" type="line" />
			<xs:element name="polyline" type="polyline" />
			<xs:element name="circle" type="circle" />
			<xs:element name="rectangle" type="rectangle" />
			<xs:element name="text" type="text" />
			<xs:element name="feedrate" type="xs:positiveInteger" />
			<xs:element name="tool" type="tool" />
			<xs:element name="translate" type="translateType" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
	</xs:complexType>
	
	<xs:complexType name="drill">
		<xs:sequence>
			<xs:element name="p" type="pointtype" />
			<xs:element name="z" type="ztype2" />
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:complexType name="line">
		<xs:sequence>
			<xs:element name="p" type="pointtype" minOccurs="2" maxOccurs="2" />
			<xs:element name="z" type="ztype3" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="rectangle">
		<xs:sequence>
			<xs:element name="p" type="pointtype" minOccurs="2" maxOccurs="2" />
			<xs:element name="z" type="ztype3" />
		</xs:sequence>
		<xs:attribute name="pocket" type="pockettype" />
		<xs:attribute name="offset" type="offsettype" />
	</xs:complexType>
		
	<xs:complexType name="circle">
		<xs:sequence>
			<xs:element name="p" type="pointtype" />
			<xs:element name="rad" type="posinttype" />		
			<xs:element name="seg" type="posinttype" minOccurs="0" maxOccurs="1" />				
			<xs:element name="z" type="ztype3" />
		</xs:sequence>
		<xs:attribute name="pocket" type="pockettype" />
		<xs:attribute name="offset" type="offsettype" />
	</xs:complexType>

	<xs:complexType name="text">
		<xs:sequence>
			<xs:element name="content" type="xs:string" />
			<xs:element name="p" type="pointtype" />					
			<xs:element name="size" type="posinttype" minOccurs="0" maxOccurs="1" />
			<xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="style" type="styletype" minOccurs="0" maxOccurs="1" />
			<xs:element name="flatness" type="posdoubletype" minOccurs="0" maxOccurs="1" />
			<xs:element name="z" type="ztype3" />
		</xs:sequence>
		<xs:attribute name="pocket" type="pockettype" />
		<xs:attribute name="offset" type="offsettype" />
	</xs:complexType>
		
	<xs:complexType name="polyline">
		<xs:sequence>
			<xs:element name="p" type="pointtype" />
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:sequence>
					<xs:element name="bez" type="pointtype" minOccurs="1" maxOccurs="unbounded" /> 
					<xs:element name="p" type="pointtype" />
				</xs:sequence>
				<xs:sequence>
					<xs:element name="spl" type="pointtype" minOccurs="1" maxOccurs="unbounded" />
				</xs:sequence>
				<xs:element name="p" type="pointtype" />	
			</xs:choice>
			<xs:element name="z" type="ztype3" />
		</xs:sequence>
		<xs:attribute name="pocket" type="pockettype" />
		<xs:attribute name="offset" type="offsettype" />
	</xs:complexType>
	
	<xs:complexType name="tool">
		<xs:sequence>
			<xs:element name="diameter" type="posdoubletype" />
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" /> 	
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="pointtype">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="-?[0-9]+(\.[0-9]+)?,-?[0-9]+(\.[0-9]+)?"/>
	    </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="translationtype">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="-?[0-9]+(\.[0-9]+)?"/>
	    </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ztype3">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="-?[0-9]+(\.[0-9]+)?,-[0-9]+(\.[0-9]+)?,[0-9]+(\.[0-9]+)?"/>
	    </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ztype2">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="-?[0-9]+(\.[0-9]+)?,-[0-9]+(\.[0-9]+)?"/>
	    </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="styletype">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="plain|bold|italic|bolditalic?"/>
	    </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="offsettype">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="engraving|inset|outset?"/>
	    </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="posinttype">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="[0-9]+"/>
	    </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="posdoubletype">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="[0-9]+(\.[0-9]+)?"/>
	    </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="pockettype">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="parallel"/>
	    </xs:restriction>
	</xs:simpleType>
	 
</xs:schema>