src/xml/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="drill">
		<xs:sequence>
			<xs:element name="p" type="pointtype" />
			<xs:element name="z" type="ztype2" />
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:complexType name="line">
		<xs:sequence>
			<xs:element name="p" type="pointtype" minOccurs="2" maxOccurs="2" />
			<xs:element name="z" type="ztype3" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="rectangle">
		<xs:sequence>
			<xs:element name="p" type="pointtype" minOccurs="2" maxOccurs="2" />
			<xs:element name="z" type="ztype3" />
		</xs:sequence>
		<xs:attribute name="pocket" type="pockettype" />
	</xs:complexType>
		
	<xs:complexType name="circle">
		<xs:sequence>
			<xs:element name="p" type="pointtype" />
			<xs:element name="rad" type="posinttype" />		
			<xs:element name="seg" type="posinttype" minOccurs="0" maxOccurs="1" />				
			<xs:element name="z" type="ztype3" />
		</xs:sequence>
		<xs:attribute name="pocket" type="pockettype" />
	</xs:complexType>
	
	<xs:complexType name="polyline">
		<xs:sequence>
			<xs:element name="p" type="pointtype" />
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:sequence>
					<xs:element name="bez" type="pointtype" minOccurs="1" maxOccurs="unbounded" /> 
					<xs:element name="p" type="pointtype" />
				</xs:sequence>
				<xs:sequence>
					<xs:element name="spl" type="pointtype" minOccurs="1" maxOccurs="unbounded" />
				</xs:sequence>
				<xs:element name="p" type="pointtype" />	
			</xs:choice>
			<xs:element name="z" type="ztype3" />
		</xs:sequence>
		<xs:attribute name="pocket" type="pockettype" />
	</xs:complexType>

	<xs:element name="program">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="drill" type="drill" />
				<xs:element name="line" type="line" />
				<xs:element name="polyline" type="polyline" />
				<xs:element name="circle" type="circle" />
				<xs:element name="rectangle" type="rectangle" />
				<xs:element name="feedrate" type="xs:positiveInteger" />
				<xs:element name="translate">
					<xs:complexType>
						<xs:choice minOccurs="1" maxOccurs="unbounded">
							<xs:element name="drill" type="drill" />
							<xs:element name="line" type="line" />
							<xs:element name="polyline" type="polyline" />
							<xs:element name="circle" type="circle" />
							<xs:element name="rectangle" type="rectangle" />
							<xs:element name="feedrate" type="xs:positiveInteger" />
						</xs:choice>
						<xs:attribute name="x" type="translationtype" />
						<xs:attribute name="y" type="translationtype" />
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="pointtype">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="[0-9]+(\.[0-9]+)?,-?[0-9]+(\.[0-9]+)?"/>
	    </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="translationtype">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="-?[0-9]+(\.[0-9]+)?"/>
	    </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ztype3">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="-?[0-9]+(\.[0-9]+)?,-[0-9]+(\.[0-9]+)?,[0-9]+(\.[0-9]+)?"/>
	    </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ztype2">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="-?[0-9]+(\.[0-9]+)?,-[0-9]+(\.[0-9]+)?"/>
	    </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="posinttype">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="[0-9]+(\.[0-9]+)?"/>
	    </xs:restriction>
	</xs:simpleType>
	
		<xs:simpleType name="pockettype">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="parallel"/>
	    </xs:restriction>
	</xs:simpleType>
	 
</xs:schema>