src/xml/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="program" type="programRootType"/>
	
	<xs:complexType name="programRootType">
	    <xs:sequence>
	        <xs:element name="tools" type="toolsType" />
	        <xs:choice minOccurs="1" maxOccurs="unbounded">
	        	<xs:element name="drill" type="drillType" />
				<xs:element name="line" type="lineType" />
				<xs:element name="polyline" type="polylineType" />
				<xs:element name="circle" type="circleType" />
				<xs:element name="rectangle" type="rectangleType" />
				<xs:element name="text" type="textType" />
				<xs:element name="feedrate" type="xs:positiveInteger" />
				<xs:element name="transform" type="transformType" />
	        </xs:choice>
	    </xs:sequence>
	</xs:complexType>
		
	<xs:complexType name="toolsType">
		<xs:sequence>
			<xs:element name="tool" type="toolType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="toolType">
		<xs:attribute name="diameter" type="posdoubletype" use="required" />
		<xs:attribute name="id" type="xs:ID" />
		<xs:attribute name="type" type="xs:string" />
	</xs:complexType>

	<xs:complexType name="transformType">
    	<xs:choice minOccurs="1" maxOccurs="unbounded">
        	<xs:element name="drill" type="drillType" />
			<xs:element name="line" type="lineType" />
			<xs:element name="polyline" type="polylineType" />
			<xs:element name="circle" type="circleType" />
			<xs:element name="rectangle" type="rectangleType" />
			<xs:element name="text" type="textType" />
			<xs:element name="feedrate" type="xs:positiveInteger" />
			<xs:element name="transform" type="transformType" />
        </xs:choice>
		<xs:attribute name="translate" type="doubleType2" />
	</xs:complexType>	
	
	<xs:complexType name="geometryType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">

		</xs:choice>
	</xs:complexType>
	
	<xs:complexType name="drillType">
		<xs:sequence>
			<xs:element name="point" type="pointType" />
			<xs:element name="depth" type="depthType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="tool" type="xs:string" use="required"/>
	</xs:complexType>
	
	
	<xs:complexType name="lineType">
		<xs:sequence>
			<xs:element name="point" type="pointType" minOccurs="2" maxOccurs="2" />
			<xs:element name="depth" type="depthType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="tool" type="xs:string" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="rectangleType">
	    <xs:sequence>
	        <xs:element name="point" type="pointType" minOccurs="2" maxOccurs="2"/>
	        <xs:element name="depth" type="depthType" minOccurs="1" maxOccurs="1"/>
	        <xs:element name="options" type="optionsRectangleType" minOccurs="0" maxOccurs="1"/>
	    </xs:sequence>
	    <xs:attribute name="tool" type="xs:string" use="required"/>
	</xs:complexType>
		
	<xs:complexType name="circleType">
	    <xs:sequence>
	        <xs:element name="center" type="pointType" minOccurs="1" maxOccurs="1"/>
	        <xs:element name="radius" type="radiusType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="depth" type="depthType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="options" type="optionsCircleType" minOccurs="0" maxOccurs="1"/>
	    </xs:sequence>
	    <xs:attribute name="tool" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="textType">
		<xs:sequence>
			<xs:element name="content" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="point" type="pointType" minOccurs="1" maxOccurs="1"/>					
			<xs:element name="depth" type="depthType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="options" type="optionsTextType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="tool" type="xs:string" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="polylineType">
		<xs:sequence>
			<xs:element name="point" type="pointType" />
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:sequence>
					<xs:element name="bezier" type="pointType" minOccurs="1" maxOccurs="unbounded" /> 
					<xs:element name="point" type="pointType" />
				</xs:sequence>
				<xs:sequence>
					<xs:element name="spline" type="pointType" minOccurs="1" maxOccurs="unbounded" />
				</xs:sequence>
				<xs:element name="point" type="pointType" />	
			</xs:choice>
			<xs:element name="depth" type="depthType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="options" type="optionsPolylineType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="tool" type="xs:string" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="optionsCircleType">
	    <xs:attribute name="segments" type="posinttype"/>
	    <xs:attribute name="pocket" type="pocketTypeAttribute"/>
	    <xs:attribute name="offset" type="offsetTypeAttribute"/>
	</xs:complexType>

	<xs:complexType name="optionsRectangleType">
	    <xs:attribute name="pocket" type="pocketTypeAttribute"/>
	    <xs:attribute name="offset" type="offsetTypeAttribute"/>
	</xs:complexType>

	<xs:complexType name="optionsPolylineType">
	    <xs:attribute name="pocket" type="pocketTypeAttribute"/>
	    <xs:attribute name="offset" type="offsetTypeAttribute"/>
	</xs:complexType>


	<xs:complexType name="optionsTextType">
	    <xs:attribute name="size" type="posinttype"/>
	    <xs:attribute name="font" type="xs:string"/>
	    <xs:attribute name="style" type="optionsTextStyleTypeAttribute"/>
	    <xs:attribute name="flatness" type="posdoubletype"/>
	    <xs:attribute name="pocket" type="pocketTypeAttribute"/>
	    <xs:attribute name="offset" type="offsetTypeAttribute"/>
	</xs:complexType>
	
	<xs:complexType name="pointType">
	    <xs:attribute name="x" type="posdoubletype" use="required" />
	    <xs:attribute name="y" type="posdoubletype" use="required" />
	</xs:complexType>
	
	<xs:complexType name="depthType">
		<xs:attribute name="start" type="doubleType" />
		<xs:attribute name="end" type="doubleType" />
		<xs:attribute name="step" type="posdoubletype" />
	</xs:complexType>
	
	<xs:complexType name="radiusType">
	    <xs:attribute name="value" type="posdoubletype" use="required" />
	</xs:complexType>
	
	<xs:simpleType name="offsetTypeAttribute">
	    <xs:restriction base="xs:string">
	        <xs:enumeration value="engraving"/>
	        <xs:enumeration value="inset"/>
	        <xs:enumeration value="outset"/>
	    </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="optionsTextStyleTypeAttribute">
	    <xs:restriction base="xs:string">
	        <xs:enumeration value="plain"/>
	        <xs:enumeration value="bold"/>
	        <xs:enumeration value="italic"/>
	        <xs:enumeration value="bolditalic"/>
	    </xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="pocketType">
		<xs:attribute name="type" type="pocketTypeAttribute" />
	</xs:complexType>
	
	<xs:simpleType name="pocketTypeAttribute">
	    <xs:restriction base="xs:string">
	        <xs:enumeration value="parallel"/>
	    </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="doubleType2">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="-?[0-9]+(\.[0-9]+)?,-?[0-9]+(\.[0-9]+)?"/>
	    </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="styletype">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="plain|bold|italic|bolditalic?"/>
	    </xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="posinttype">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="[0-9]+"/>
	    </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="posdoubletype">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="[0-9]+(\.[0-9]+)?"/>
	    </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="doubleType">
	    <xs:restriction base="xs:string">
	    	<xs:pattern value="-?[0-9]+(\.[0-9]+)?"/>
	    </xs:restriction>
	</xs:simpleType>
	 
</xs:schema>